**/raycast/extensions

**/jj/repos
.jj/repo
.jj/working_copy

**/.config/beacon
**/.config/karabiner/automatic_backups
**/.config/cni
**/.config/cognition/skills/confluence
**/.config/cognition/skills/jira
**/.config/cognition/skills/podcast
**/.config/cognition/skills/review
**/.config/cognition/skills/gl

**/.DS_Store

