[user]
	name = "Tejas Sanap"
	email = "todo"
	signingkey = "~/.ssh/todo"

[alias]
	unstage = restore --staged
	br = branch
	ch = checkout
	lo = log --oneline -n 20
	st = status
	diff = df
	df = difftool --staged
	ca = commit -a --amend --no-edit
	pu = push u
	puf = push u --force
	sl = stash list
	sd = stash drop

[gpg]
	format = ssh

[core]
	excludesfile = "~/.gitignore"
	ignorecase = false

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[diff]
	tool = difftastic
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true

[branch]
	autoSetupMerge = always
	sort = -committerdate

[init]
	defaultBranch = main

[commit]
	gpgsign = true
	verbose = true

[protocol "file"]
	allow = always

[mergetool]
	keepBackup = false

[http]
	postBuffer = 157286400

[column]
	ui = auto

[tag]
	sort = version:refname

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[help]
	autocorrect = prompt

[rerere]
	enabled = true
	autoupdate = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
